.book-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.book-grid-item {
    /* background-color: lightgoldenrodyellow; */

    margin-top: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.book-grid-item h2{
    font-size: 3.6vh;
    color: var(--dark-blue);
}

.book-grid-item p{
    font-size: 3vh;
    color: var(--dark-blue);
}

.book-grid-item img{
    display: inline-block;
    /* width: 18vw; */
    height: 50vh;
    object-fit: contain;
    /* margin-bottom: 20px; */

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.45);

    transition: transform 0.15s;
}

.book-grid-item hr{
    width: 100%;
}

.book-grid-item img:hover{
    transform: scale(1.05);
    /* margin-bottom: 20px; */
}


.book-grid-text-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    width: 100%;
}

.button-container a{
    padding: 8px 4px 8px 4px;

    border-style: solid;
    border-width: 1px;
    border-radius: 18px;

    color: var(--dark-blue);
    background-color: var(--bg-off-white);

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.45);

    text-decoration: none;
    text-align: center;
    
    transition: all 0.15s ease;
}

.button-container a:hover{
    color: var(--bg-off-white);
    background-color: var(--dark-blue);
    scale: 1.10;  
    border-color: transparent;
}


@media(max-width: 800px){
    .book-grid-item{
        flex-direction: row;
    }
}

@media(max-width: 400px){
    .book-grid-item{
        flex-direction: column;
    }
}

