nav {
    position: sticky;
    top: 0;
    z-index: 1;

    padding-left: 6px;
    padding-right: 6px;

    /* display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; */

    background: linear-gradient(60deg, var(--bg-off-white) 25%, var(--dark-blue) 60%); 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    width: 100%;

    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 80px;
    /* margin-left: 15px; */
}

nav li:first-child {
    margin-right: auto;
    margin-left: 0;
}


nav a {
    height: 100%;
    padding: 0 20px;

    text-decoration: none;

    display: flex;
    align-items: center;
    color: var(--bg-off-white);
    transition: background-color, 0.35s; 
}

nav a:hover {
    background-color: var(--sky-blue);
}

.sidebar {
    position: fixed;
    top:0;
    right:0;
    z-index: 999;

    height:100vh;
    width: 250px;
    
    background-color: var(--dark-blue-trans);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

#logo img {
    padding: 0.2rem;
    width: 10rem;
}

.divider {
    /* border-left: 1px solid var(--bg-light-brown); */
    border-left: 1px solid transparent; border-image: linear-gradient(to top, transparent, var(--bg-off-white), transparent) 1;
    width: 2px;
    height: 60%;
    display: inline;
}

@media(max-width: 800px){
    .hide-on-mobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}